@import "tailwindcss";

body {
  color: #D1D5DB;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: #0B1120;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
}